{% block head %}
  {% include 'Partials/Layout/_head.twig' %}
{% endblock %}

  <body class="{{body_class}}" data-template="base.twig" id="body">
    {% include 'Partials/Components/_cookie-box.twig' %}

    {% block header %}
      {% include 'Partials/Layout/_header.twig' %}
    {% endblock %}

    <section id="content" role="main" class="container">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </section>

    {% block footer %}
      {% include 'Partials/Layout/_footer.twig' %}

      {{ function('wp_footer') }}
      {% include 'Partials/Components/_analytics.twig' %}
    {% endblock %}
  </body>
</html>
