%button {
  @include ease-in-background-transition;
  border-radius: 3px;
  font-family: $raleway; text-align: center;
}

%button-plain {
  @extend %button;

  padding: 20px; background: $grey2;
  font-size: 1.6em; font-weight: 700; color: $white;

  &:hover {
    background: darken($grey2, 10);
  }
}

%button-bordered {
  @extend %button;

  padding: 10px; background: $white;
  font-size: 1.4em; font-weight: 600;

  &:hover {
    background: darken($white, 10%);
  }
}

.button-purple-background {
  @extend %button-plain;
  background: $purple1;
}

.button-orange-background {
  @extend %button-plain;
  background: $orange1;
}

.button-purple-bordered {
  @extend %button-bordered;
  border: solid 1px $purple1;
  color: $purple1;
}

.button-orange-bordered {
  @extend %button-bordered;
  border: solid 1px $orange1;
  color: $orange1;
}
