.interview {
  .legend {
    background: $purple2;
    font-family: $raleway; font-size: 1.5em; font-weight: 400; color: $white;
    strong {
      font-size: 2.5em; font-weight: 700;
    }
    .underline {
      border-bottom: solid 1px $white;
    }
  }
}
