{# index.php #}

{% extends 'Layouts/base.twig' %}

{% block content %}
	<div class="vc_row wpb_row vc_row-fluid ">
		<div class="wpb_column vc_column_container vc_col-sm-7 vc_col-sm-offset-1 ">
			<div class="wpb_wrapper">
				{% for post in posts %}
					{% include ['Partials/Article/List/_'~post.post_type~'.twig', 'Partials/List/_post.twig'] %}
				{% endfor %}
				{% include 'Partials/Components/_pagination.twig' %}
			</div>
		</div>
		<div class="wpb_column vc_column_container vc_col-sm-3">
			<div class="wpb_wrapper">

			</div>
		</div>
	</div>
{% endblock %}
