{% extends 'Layouts/base.twig' %}

{% block content %}
  <h2>{{__('Recherche', 'dummy-wordpress')}}</h2>

  {{function('get_search_form')}}

  {% for post in posts %}
    {% include ['Partials/Article/List/_post.twig', 'Partials/List/_post.twig'] %}
  {% endfor %}
{% endblock %}
