{# single.php #}

{% extends 'Layouts/blog.twig' %}

{% block content %}
<div class="vc_row wpb_row vc_row-fluid ">
  <div class="wpb_column vc_column_container vc_col-sm-7 vc_col-sm-offset-1 ">
    <div class="wpb_wrapper">
      {% include 'Partials/Article/Single/_post.twig'  %}
    </div>
  </div>
</div>
<div class="wpb_column vc_column_container vc_col-sm-3">
  <div class="wpb_wrapper">

  </div>
</div>
{% endblock %}
