<header id= "header-blog" class="header-blog " >
    <div class="wrapper page-sized">
      <div class="logo" role="banner">
        <a class="logo-link" href="/blog/" rel="home">{{site.name}}</a>
      </div>
      <h1>{{ __('Blog Title') }}</h1>
      <h2>{{ __('sous-titre') }}</h2>
    </div>
</header>
