<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	{% include 'Partials/Article/_header.twig'  %}
	<div class="article-body">
		{{post.content}}
	</div>
	{#%
	<section class="comments">
		<div class="respond">
			<h3 class="h2">Comments</h3>
			{{ comment_form }}
		</div>
		<div class="responses">
			{% for cmt in post.get_comments() %}
				{% include "./Partials/Article_comment.twig" with {comment:cmt} %}
			{% endfor %}
		</div>
	</section>
	%#}
</article>
