h2 { font-weight: 400; }
h2 strong { font-weight: 700; }
h2.orange { color: #eb6909; text-transform: uppercase; }
h2.white { color: #bfbfbf; text-transform: uppercase; }
h3.blue { color: #3659b4; text-transform: none; }
h4.white { color: #bfbfbf; text-transform: none; }

p.white { color: #bfbfbf; }

.button-orange-bordered {
  display: inline-block; padding: 5px 10px; border: solid 1px #eb6909; border-radius: 3px;
  color: #eb6909; text-decoration: none;
}

.button-purple-bordered {
  display: inline-block; padding: 5px 10px; border: solid 1px #3659b4; border-radius: 3px;
  color: #3659b4; text-decoration: none;
}

.button-orange-background {
  display: inline-block; padding: 5px 10px; border-radius: 3px; background: #eb6909;
  color: #ffffff; text-decoration: none;
}

.button-purple-background {
  display: inline-block; padding: 5px 10px; border-radius: 3px; background: #3659b4;
  color: #ffffff; text-decoration: none;
}

blockquote {
  padding-left: 30px; border-left: solid 1px #eb6909;
  color: #eb6909; font-size: 3em; font-weight: 700;
}
