html {
  font-size: 62.5%;
  line-height: 1.3em; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #333; }

button,
a {
  text-decoration: none;
  color: #bc2422; }
  button:hover,
  a:hover {
    text-decoration: underline; }
  button img,
  a img {
    border: none; }

button {
  display: inline;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer; }

h1, .h1-like {
  margin: 25px 0;
  font-size: 3.5em; }

h2, .h2-like {
  margin: 25px 0; }

h3, .h3-like {
  margin: 25px 0;
  font-size: 1.9em; }

h4, .h4-like {
  margin: 20px 0; }

h5, .h5-like {
  margin: 20px 0;
  font-size: 1.6em; }

h6, .h6-like, p, .bodytext {
  margin: 15px 0; }

td p, td .bodytext {
  margin: 0; }

ul li {
  margin: 5px 0; }

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea {
  font-size: 1.4em;
  line-height: 1.7em; }

blockquote p, td p, th p, li li, li p, li h1, li .h1-like, li h2, li .h2-like, li h3, li .h3-like, li h4, li .h4-like, li h5, li .h5-like, li h6, li .h6-like, button {
  font-size: 100%; }

input, select, textarea {
  font-family: Arial, sans-serif; }

h2, .important {
  font-size: 2.4em; }

h4,
.introduction {
  font-size: 1.7em; }

h6 {
  font-size: 1.4em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-weight: 700; }

hr {
  border: none;
  height: 1px;
  background-color: #444; }

.clear {
  clear: both;
  height: 0; }

body {
  font-family: "Raleway", sans-serif;
  color: #333; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-justify {
  text-align: justify; }

.page {
  margin: auto;
  padding: 0 30px;
  width: 1200px;
  max-width: 100%; }
  @media screen and (max-width: 1260px) {
    .page {
      margin-right: 30px;
      margin-left: 30px;
      width: auto; } }

.nav {
  display: block;
  margin: 0;
  padding: 0; }
  .nav li {
    display: inline-block;
    margin: 5px;
    padding: 0; }
  .nav li:hover .second {
    display: block; }
  .nav .second {
    display: none;
    position: absolute; }

.csc-textpic-imagewrap, img {
  max-width: 100%;
  height: auto; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.5em;
  font-weight: 700; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.8em;
  font-weight: 700; }
  h2.border-bottom {
    border-bottom: solid 1px #ddd; }

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 700; }

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8em;
  font-weight: 700; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6em;
  color: #666; }

blockquote {
  border-left: solid 1px #eb6909;
  padding-left: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #eb6909; }

.button-purple-background, .button-orange-background, .button-purple-bordered, .button-orange-bordered {
  transition: background-color ease-in 0.4s;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  text-align: center; }

.button-purple-background, .button-orange-background {
  padding: 20px;
  background: #81858f;
  font-size: 1.6em;
  font-weight: 700;
  color: #fff; }
  .button-purple-background:hover, .button-orange-background:hover {
    background: #686c75; }

.button-purple-bordered, .button-orange-bordered {
  padding: 10px;
  background: #fff;
  font-size: 1.4em;
  font-weight: 600; }
  .button-purple-bordered:hover, .button-orange-bordered:hover {
    background: #e6e6e6; }

.button-purple-background {
  background: #3659b4; }

.button-orange-background {
  background: #eb6909; }

.button-purple-bordered {
  border: solid 1px #3659b4;
  color: #3659b4; }

.button-orange-bordered {
  border: solid 1px #eb6909;
  color: #eb6909; }

.interview .legend {
  background: #3b57a6;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #fff; }
  .interview .legend strong {
    font-size: 2.5em;
    font-weight: 700; }
  .interview .legend .underline {
    border-bottom: solid 1px #fff; }
