<section id="in-news-home" class="in-news-home">
    <div class="vc_col-md-12 wpb_column vc_column_container">
      <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
        <div class="post-list-item">
          <!--
          {{post_content}}
          -->
        </div>
      </div>
    </div>
</section>

