<div class="cookie-box" id="cookie-box">
    <span class="cookie-box-text">{{ __('En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies.', 'skin') }} <a class="cookie-box-link" href="{{legal_mention_url}}">{{ __('En savoir plus', 'skin') }}</a></span>
    <span class="cookie-box-close-btn" id="cookie-box-close-btn">X</span>
</div>
